.texto-menor {
    font-size: 13px;
}

.verde-limao {
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF;
}

.divs-facilidades {
    width: 325px;
}

.price-font-style {
    font-weight: bold;
}

.form-check {
    padding: 0;
}

.card-front:hover {
    transform: scale(1.1);
    transition: 1s;
}

.card-front:not(hover) {
    transition: 1s;
}

.form-check-input:checked {
    background-color: #9353FF !important;
}

#form-check-bg__azul-claro {
    background-color: lightblue
}

#form-check-bg__offwhite {
    background-color: whitesmoke;
}

#form-check-bg__preto {
    background-color: black;
}

.container__price-text {
    font-weight: 200;
    font-size: 12px;
    color: gray;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #9353FF;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }
}